<%- include('components/Header.ejs') %>
<%- include('components/Navbar.ejs') %>
<div class="grid h-full place-items-center bg-gray-800">
    <div class="flex flex-col justify-center">
        <h1 class="font-slabs md:text-9xl text-7xl text-center"><%= statusCode %></h1>
        <h1 class="font-slabs md:text-4xl text-2xl text-center"><%= message %></h1>
        <a href="/">
            <button class="btn-1">Back to Homepage</button>
        </a>
    </div>
</div>
<%- include('components/Footer.ejs') %>